* {
  margin: 0;
  padding: 0;
  /* font-family: GothamPro; */
  font-family: "Gilroy";
}
@font-face {
  font-family: "Kantata Aksara";
  src: url(Assests/Fonts/KantataAksara.ttf);
}

#main {
  position: relative;
  background-color: #fcfaf8;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}
#loader {
  /* display: none; */
  z-index: 9999;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: #1a1a1a;
}
#loader > #topHeading {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#topHeading h5 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 100;
  font-size: 0.5em;
  color: #fcfaf8;
}
#loader h1 {
  /* overflow-y: hidden; */
  width: 100vw;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* text-transform: uppercase; */
  font-size: 4vw;
  font-weight: 500;
  color: #fcfaf8;
}
.reveal .parent {
  display: flex;
  justify-content: center;
  width: 100vw;
  /* background-color: red; */
  overflow-y: hidden;
}
.reveal .parent .child {
  display: block;
  /* transform: translateY(-80%); */
}
.parent .child span {
  /* color: ; */
  display: inline-block;
}
.reveal .parent .child span:nth-child(2) {
  font-family: "Kantata Aksara";
  color: #14cf93;
}
#green-screen {
  /* display: none; */
  width: 100vw;
  position: absolute;
  bottom: 0;
  z-index: 999;
  height: 0vh;
  background-color: #14cf93;
}

#home {
  /* width: 100vw; */
  height: 150vh;
  /* overflow-x: hidden; */
  background-color: #fcfaf8;
}
#home #nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5vw;
  /* width: 100vw; */
  height: 15vh;
}
#nav a {
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 0.8em;
  color: #1a1a1a;
}
#nav a .line {
  position: absolute;
  bottom: 0;
  display: inline-block;
  width: 100%;
  height: 1px;
  background-color: #1a1a1a;
}
#line1 {
  left: 0;
  width: 0%;
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
  transition-delay: 0.2s;
}
#line2 {
  right: 0;
  width: 100%;
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
}
#nav a :hover #line2 {
  width: 0%;
}
#nav a :hover #line1 {
  width: 100%;
}

.row {
  margin-top: 1vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #333;
  /* width: 100vw; */
  padding: 0 7vw;
  padding-right: 7vw;
}
.row h1 {
  font-size: 12vw;
  font-weight: 600;
}
.row .text {
  /* margin-top: 0vw; */
  text-transform: uppercase;
}
.row h5 {
  opacity: 0.4;
  font-size: 0.8vw;
  font-weight: 800;
}

.row:nth-child(2) {
  margin-top: 3vw;
}

.row svg {
  /* color: #14CF93; */
  height: 9vw;
  margin: 0 4vw;
}
path,
polyline {
  stroke: #14cf93;
}

#imagery {
  display: flex;
  justify-content: space-between;
  margin-top: 8vw;
  width: 100%;
  padding: 7vw 7vw;
}
#imagery #imglef {
  width: 30%;
  height: auto;
  z-index: 2;
}
#imglef h1 {
  /* text-transform: uppercase; */
  letter-spacing: -1px;
  font-weight: 500;
  font-size: 2vw;
  color: #333;
  /* margin-bottom: 10vw; */
}
#imglef h1 span {
  color: #14cf93;
  font-family: "Kantata Aksara";
  font-weight: 100;
  font-style: italic;
}

.techstack {
  padding: 2rem;
  background: linear-gradient(180deg, #fcfaf8 0%, #14cf9481 100%);
  color: #ffffff;
  // background: #0d1117;
}
.what {
  margin-bottom: 2.5rem;
  font-size: 2.25rem;
  line-height: 2.5rem;
  font-weight: 700;
  color: #333;
}
.know {
  font-family: "Kantata Aksara";
  color: #14cf93;
}
.what_extended {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 1rem;
}

.overall_tech,
.backend,
.database,
.devops {
  padding: 1.5rem;
  margin-top: 1rem;
  border-radius: 0.5rem;
  background: #333;
  overflow: hidden;
}
// .overall_tech, .backend, .database, .devops h2{
//   font-size: 1.25rem;
// line-height: 1.75rem;
// font-weight: 600;
// color: #ffffff;
// }
.html,
.css,
.tailwind,
.javascript,
.typescript,
.reactjs,
.nextjs,
.nodejs,
.nextauth,
.mysql,
.git,
.aws,
.firebase {
  display: inline-flex;
  padding-top: 0.125rem;
  padding-bottom: 0.125rem;
  padding-left: 0.625rem;
  padding-right: 0.625rem;
  align-items: center;
  border-radius: 9999px;
  border-width: 1px;
  border-color: transparent;
  width: fit-content;
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 600;
  cursor: pointer;
  white-space: nowrap;
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}
.html:hover {
  background: #000;
}
.css:hover {
  background: #000;
}
.tailwind {
  transition-duration: 300ms;
  background: #06b6d4;
}
.javascript {
  background: #eab308;
}

.reactjs,
.nextjs {
  background: #2563eb;
}
.nodejs {
  background: #22c55e;
}
.nextauth {
  background: #000;
}
.mysql {
  background: #00758f;
}
.git {
  // background: #f14e32;
}
.aws {
  background: #ff9900;
}
.html:hover,
.css:hover,
.tailwind:hover,
.javascript:hover,
.typescript:hover,
.reactjs:hover,
.nextjs:hover,
.nodejs:hover,
.nextauth:hover,
.mysql:hover,
.git:hover,
.aws:hover,
.firebase:hover {
  background-color: #14cf93;
}

#work {
  padding-top: 1.2rem;
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
  position: relative;
  /* height: 300vh; */
  color: #333;
  // background-color: #f2f2f2;
}
#work::before {
  content: "";
  top: -85px;

  // left: -10px;
  position: absolute;
  transform: rotate(-180deg);
  width: 100%;
  height: 150px;
  background: url(Assests/SVG/rip.f6d7c4dd.svg);
  background-size: cover;
  /* background-repeat: repeat; */
}
#about h4 {
  margin-left: 10vw;
  opacity: 0.4;
  font-size: 1vw;
}
#about h4 span {
  color: #14cf93;
  font-family: "Kantata Aksara";
}
#about h3 {
  margin-top: 1vw;
  margin-left: 10vw;
  margin-bottom: 10vw;
  font-size: 1em;
  font-weight: 600;
  color: #333;
}
#work .workrow {
  padding: 4vw 0 4vw 4vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#about .o-ui-arrow {
  transform: rotate(0);
}
.workrow h1 {
  font-size: 8vw;
  font-weight: 600;
}
.workrow h1 span {
  color: #14cf93;
  font-family: "Kantata Aksara";
}
.o-ui-arrow {
  transform: rotate(90deg);
}
.o-ui-arrow path {
  stroke: #4f4f4f65;
}
.project {
  padding: 2rem;
}
.project_item {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 1rem;
}
.project_item > a {
  text-decoration: none;
}
.project_img {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  object-fit: cover;
}
.ReadmeEditor,
.LuxeLens,
.Codee,
.BudgetBud {
  border-radius: 0.5rem;
  border-width: 1px;
  color: #ffffff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  background: #333;
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
}
.ReadmeEditor:hover,
.LuxeLens:hover,
.Codee:hover,
.BudgetBud:hover {
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
}
.project_sec {
  display: flex;
  padding: 1.5rem;
  margin-top: 0.375rem;
  flex-direction: column;
}
.project_info {
  padding: 1.5rem;
}
.project_title {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
  letter-spacing: -0.025em;
  line-height: 1;
  white-space: nowrap;
}
.project_techstack {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

// #images {
//   /* width: 100%; */
//   height: 100vh;
//   position: relative;
// }

/* footer */
#footer {
  margin-top: 5vw;
  padding: 0;
  /* height: 100vh; */
  display: flex;
  position: relative;
  background-color: #253b39;
  overflow: hidden;
  /* overflow: hidden; */
  /* justify-content: center; */
  flex-direction: column;
}
#bigThing {
  padding-top: 13vw;
  display: flex;
  color: #fff;
  justify-content: center;
}
#bigThing h1 {
  line-height: 6.3vw;
  font-size: 6vw;
  text-align: center;
  font-weight: 500;
}
.foot {
  padding: 0;
  width: 100%;
  position: absolute;
  /* transform: translate(0%, 50%) rotate(-90deg); */
  left: 0;
  /* scale: 1.1; */
}
#con {
  z-index: 3;
  padding-top: 3vw;
  display: flex;
  justify-content: center;
}
#con button {
  background-color: transparent;
  border: 1px solid #fff;
  width: 30vw;
  padding: 3vw;
  border-radius: 60px;
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
  cursor: pointer;
  font-weight: 500;
  color: #fff;
  font-size: 2vw;
}
#con button:hover {
  background-color: rgb(255, 255, 255);
  color: #253b39;
}

.c-footer__socials {
  /* padding-bottom: 8vh; */
  position: relative;
  z-index: 5;
  /* display: flex;
    width: 100%; */
}
#socials {
  padding-left: 3vw;
  padding-right: 3vw;
  /* width: 50%; */
}
.c-footer__socials > div:first-child {
  display: flex;
  text-transform: none;
  margin: 10vh 0;
}

.c-footer__socials > #socials > div {
  opacity: 1;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  /* align-items: flex-start; */
  justify-content: center;
  visibility: visible;
  /* display: flex; */
  transform: translate(0);
}

.c-footer__socials > div:first-child > div {
  width: 100%;
  opacity: 0;
  visibility: hidden;
  transform: translateY(60%);
  transition: 0.9s;
  transition-delay: calc(var(--order) * 400ms);
}

.c-footer__socials > div:first-child > div a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  padding: 25px 0;
  border-top: 1px solid #fff;
  transition: 0.6s cubic-bezier(0, 0.89, 0.41, 1);
  position: relative;
  overflow: hidden;
  width: 60%;
}

.c-footer__socials > div:first-child > div a:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(-101%);
  content: "";
  background-color: #14cf93;
  transition: 0.2s;
  z-index: -1;
}

.c-footer__socials > div:first-child > div a p {
  text-transform: none;
  color: #fff;
  /* width: 40%; */
}

.c-footer__socials > div:first-child > div a p:first-child {
  font-size: 24px;
  padding-bottom: 4px;
}

.c-footer__socials > div:first-child > div a p:last-child {
  font-size: 12px;
  padding-bottom: 4px;
  opacity: 0.6;
}

.c-footer__socials > div:first-child > div a:hover {
  padding: 25px 20px;
  border-top: 1px solid transparent;
}

.c-footer__socials > div:first-child > div a:hover:after {
  transform: translate(0);
}

.c-footer__socials a img {
  width: 44px;
}

.c-footer__copy {
  /* position: relative; */
  margin-top: 25px;
  font-size: 14px;
  color: hsla(0, 0%, 100%, 0.4);
  text-transform: capitalize;
}

.c-footer__copy a,
.c-footer__copy p {
  color: inherit;
  text-transform: inherit;
  font-size: inherit;
  /* position: absolute; */
  bottom: 1%;
}

.c-footer__copy div {
  margin-top: 10px;
}

.c-footer-credit {
  text-decoration: underline;
  cursor: pointer;
}

.c-footer-credit:active .c-credits {
  opacity: 1;
  transform: translate(0);
}

//
//
// new scss by jappreet s.
//
//
@mixin tab {
  @media screen and (max-width: 1200px) {
    @content;
  }
}
@mixin smtab {
  @media screen and (max-width: 800px) {
    @content;
  }
}
@mixin phone {
  @media screen and (max-width: 440px) {
    @content;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  // background: #eaeaea;
  overflow: hidden;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 80%;
  background: #f5f5f5;
  box-shadow: 0 15px 30px #dbdbdb;
}

.container .slide .item {
  width: 15vw;
  height: 35vh;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  border-radius: 0rem;
  box-shadow: 0 15px 30px rgb(80, 80, 80, 0.3);
  background-position: 50% 50%;
  background-size: cover;
  // background-position: center;
  display: inline-block;
  transition: 0.5s;
  @include smtab {
    height: 25vh;
  }
  @include phone {
    width: 20vw;
    height: 10vh;
  }
}

.slide .item:nth-child(1),
.slide .item:nth-child(2) {
  top: 0;
  left: 0;
  transform: translate(0, 0);
  border-radius: 0;
  width: 100%;
  height: 100%;
}

.slide .item:nth-child(3) {
  left: 50%;
  @include smtab {
    left: 60%;
  }
  @include phone {
    top: 75%;
    left: calc(50%);
  }
}
.slide .item:nth-child(4) {
  left: calc(50% + 17.5vw);
  @include smtab {
    left: calc(60% + 17.5vw);
  }
  @include phone {
    top: 75%;
    left: calc(50% + 22.5vw);
  }
}
.slide .item:nth-child(5) {
  left: calc(50% + 35vw);
  @include smtab {
    left: calc(60% + 35vw);
  }
  @include phone {
    top: 75%;
    left: calc(50% + 45vw);
  }
}

/* here n = 0, 1, 2, 3,... */
.slide .item:nth-child(n + 6) {
  left: calc(50% + 52.5vw);
  @include smtab {
    left: calc(60% + 52.5vw);
  }
  @include phone {
    top: 75%;
    left: calc(50% + 67.5vw);
  }
  opacity: 0;
}

.item .content {
  position: absolute;
  top: 50%;
  left: 4vw;
  width: 20rem;
  @include tab {
    width: 15rem;
  }
  @include phone {
    top: 25%;
  }
  text-align: left;
  color: #eee;
  transform: translate(0%, -50%);
  font-family: system-ui;
  display: none;
}

.slide .item:nth-child(2) .content {
  display: block;
}

.content .name {
  font-size: 3.2rem;
  @include tab {
    font-size: 2.4rem;
  }
  text-transform: uppercase;
  font-weight: bold;
  opacity: 0;
  animation: animate 1s ease-in-out 1 forwards;
}

.content .des {
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
  opacity: 0;
  animation: animate 1s ease-in-out 0.3s 1 forwards;
}

.content button {
  padding: 0.8rem 1.6rem;
  color: #000;
  @include tab {
    padding: 0.7rem 1.4rem;
  }
  border: none;
  cursor: pointer;
  opacity: 0;
  animation: animate 1s ease-in-out 0.6s 1 forwards;
}

@keyframes animate {
  from {
    opacity: 0;
    transform: translate(0, 100px);
    filter: blur(33px);
  }

  to {
    opacity: 1;
    transform: translate(0);
    filter: blur(0);
  }
}

.button {
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 4vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button button {
  padding: 0.8rem 2.4rem;
  @include tab {
    padding: 0.7rem 2.1rem;
  }
  border-radius: 0rem;
  border: none;
  cursor: pointer;
  margin: 0 5px;
  // border: 1px solid #000;
  transition: 0.3s;
}

.button button:hover {
  background: #ababab;
  color: #fff;
}

#feat_work{
  margin-top: 2rem;
}
.grid {
  --gap: 1em;
  --columns: 3;
  max-width: 1136px;
  margin: 0 auto;
  display: grid; /* Use grid layout */
  grid-template-columns: repeat(var(--columns), 1fr);
  gap: var(--gap);
  align-items: start; /* Prevents items from stretching vertically */
}

.grid > * {
  break-inside: avoid;
  margin-bottom: var(--gap);
}

.content1.featured {
  grid-column: auto;
}


:root {
  --spacer: 1rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* think of future */

.flow > * + * {
  margin-top: var(--flow-space, var(--spacer));
}

.content,
.content1 {
  position: relative;
  background: #f5f7f5;
  border-radius: 20px;
  height: auto; /* Ensures the content does not stretch beyond its natural height */
  overflow: hidden; /* Clips any overflowing content */
}

.content {
  padding: 2em;
}

/* Mobile-first styles (default styles are for small screens) */
.content,
.content1 {
  width: 100%; /* Take up full width on mobile */
}

/* Larger screen adjustments */
@media (min-width: 768px) {
  .content,
  .content1 {
    width: calc((100% - 2 * 16px) / 3); /* Return to 3-column layout */
  }

  .featured {
    width: calc(
      (100% - 30px) / 3 * 2 + 16px
    ); /* Featured items span two columns */
  }
}

/* Responsive adjustments for mobile screens */
@media screen and (max-width: 480px) {
  .grid {
    grid-template-columns: 1fr;
    margin: 20px; /* Consistent margin for mobile screens */
  }
}

/*timeline frame to give spacing*/
.content .content-container {
  height: 438px;
  justify-content: space-between;
  align-self: stretch;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}

/*timeline years spacing */
.content .timeline-event {
  gap: 28px;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}

/* Music */

.content1 {
  position: relative; /* Makes it the reference point for its absolutely positioned children */
}

.skillsbox h2 {
  position: absolute; /* Positions it absolutely within .content1 */
  top: 32px; /* Aligns to the top of the .content1 container */
  left: 32px; /* Aligns to the left of the .content1 container */
  color: white; /* Sets the text color to white */
}

.music {
  display: flex;
  flex-direction: column;
  height: 359px;
  align-items: flex-start;
  padding: 37px 38px;
  position: relative;
  background-size: cover;
  background-position: 50% 50%;
  justify-content: space-between; /* Added this line */
}

.music .last-played {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.music .frame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.text-wrapper-31 {
  display: flex; /* Enables flexbox */
  align-items: center; /* Aligns items vertically in the center */
  gap: 8px; /* Adjust this value for space between the GIF and text */
}

.spotify-gif {
  width: 32px; /* Set the width of the GIF */
  height: auto; /* Maintain aspect ratio of the GIF */
}

.spotify-link {
  text-decoration: none; /* Removes underline from links */
}

/* images container */

.flex-container {
  display: flex;
  margin: 96px;
  flex-direction: row;
}

.left-image-section,
.left-image-section1 .left-image-section2 {
  position: relative;
  overflow: hidden;
  margin-right: 64px;
  border-radius: 16px;
  width: 100%;
}

.left-image-section {
  height: 500px;
}

.left-image-section1 {
  height: 641px;
}

.left-image-section2 {
  height: 368px;
}

/* Responsive styles for mobile devices */
@media (max-width: 767px) {
  .left-image-section,
  .left-image-section1 {
    height: 450px;
  }
  .grid{
    grid-template-columns: 1fr;
  }
}

.image-wrapper,
.image-wrapper1 {
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease;
}

.image-wrapper img,
.image-wrapper1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 16px;
}

.left-image-section:hover .image-wrapper,
.left-image-section1:hover .image-wrapper1 {
  transform: scale(1.1);
}

.image-overlay-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  transition: opacity 0.5s ease;
  border-radius: 16px;
}

.left-image-section:hover .image-overlay-container,
.left-image-section1:hover .image-overlay-container {
  opacity: 1;
}

.overlay-gradient {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15));
}

.image-wrapper1 img,
.image-wrapper img {
  display: none; /* Hide all images initially */
  position: absolute; /* Overlay images on top of each other */
  top: 0;
  transition: opacity 0.5s; /* Smooth transition for the fade effect */
}

.image-wrapper1 img:first-child,
.image-wrapper img:first-child {
  display: block; /* Show the first image by default */
}

.content1:hover .image-wrapper img,
.content1:hover .image-wrapper1 img {
  display: block; /* Ensure images are displayed during hover */
}

/* Optional: Add some styles for the hover effect */
.content1:hover .image-overlay-container .overlay-gradient,
.content1.featured:hover .image-overlay-container .overlay-gradient {
  /* Your hover effect styles for the overlay */
}


/* styles.css */

/* Initial state of the image with smooth transition */
#centeredImage {
  position: absolute;
  top: 50%;
  left: 50%;
  /* Ensure the image is centered with translate, this remains constant */
  transform: translate(-50%, -50%);
  z-index: 10;
  width: 128px;
  height: 128px;
  /* Apply a smooth transition effect to transformations */
  transition: transform 0.5s ease;
}

/* Hover effect on the entire content section */
.content1:hover #centeredImage {
  /* Combine scaling and rotation with the existing translation */
  transform: translate(-50%, -50%) scale(1.2) rotate(5deg);
}

.bm_bottomRightOverlay {
  display: none !important;
}

.bm_bottomLeftOverlay {
  display: none !important;
}

/* Contact us Section links button */

.content-container {
  display: flex;
  height: 500px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: relative;
  background-color: #f5f7f5;
  overflow: hidden;
}

.content1 .frame-22 {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;
  position: relative;
  flex: 0 0 auto;
}

.link {
  display: inline-flex;
  justify-content: center;
  padding: 17px;
  position: relative;
  background-color: #8d8d8d1a;
  border-radius: 9999px;
  height: 56px;
  width: 56px;
}

.link img {
  /* Targeting the images inside .link */
  position: relative;
  width: 22px;
  height: 22px;
  transition: filter 0.3s; /* Smooth transition for the filter effect */
}

.link:hover img {
  /* Applying filter when .link is hovered */
  filter: brightness(1) invert(1); /* Makes the image black */
}

/* Base styles */
/* ... existing styles ... */

/* Responsive adjustments */
@media screen and (max-width: 768px) {
  .grid {
    grid-template-columns: 1; /* Reduce the number of columns on smaller screens */
  }

  .featured,
  .content,
  .content1 {
    width: 100%; /* Full width for smaller screens */
  }

  .left-image-section,
  .left-image-section1,
  .left-image-section2 {
    margin-right: 0; /* Remove margin for smaller screens */
  }

  .flex-container {
    flex-direction: column; /* Stack elements vertically on smaller screens */
  }

  .div-header .heading,
  .div-header .p-subtitle {
    padding: 0 20px; /* Adjust padding */
  }

  .h1,
  .h2,
  .h3,
  .p {
    font-size: smaller; /* Adjust font size */
  }

  /* Add more responsive adjustments as needed */
}

@media screen and (max-width: 480px) {
  .grid {
  grid-template-columns:1; /* Only one column for very small screens */
  }

  .frame .grid > .content:last-child {
    margin-bottom: var(--gap); /* Add back margin if needed */
  }

  /* Further reduce font sizes and adjust paddings/margins as needed */
}

/* Responsive adjustments for mobile screens */
@media screen and (max-width: 480px) {
  .grid {
    margin: 20px; /* Consistent margin for mobile screens */
    grid-template-columns: 1fr;
  }
}

/*timeline frame to give spacing*/
.content .content-container {
  height: 438px;
  justify-content: space-between;
  align-self: stretch;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  overflow: hidden;
  scroll-snap-align: start;
}

/*timeline years spacing */
.content .frame-222 {
  gap: 28px;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}

.slider-container {
  overflow: hidden;
  width: 100%;
}

.slides {
  display: flex;
  transition: transform 0.5s ease;
  width: calc(100% * 3); /* Adjust based on the number of slides */
}

.slide {
  flex: 0 0 100%;
  width: 100%; /* Each slide is 100% of the container width */
}

/* Initially hide all slides */
.slide:not(.active) {
  display: none;
}

.slider-dots {
  text-align: center;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 5px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.dot.active {
  background-color: #717171;
}

.post-container {
  display: flex;
  gap: 12px;
  flex-direction: column;
}

.avatar {
  width: 46px;
  height: 46px;
  margin-right: 10px; /* Adjust spacing between image and user info */
}

.user-info {
  flex: 1; /* Take up remaining space */
}

/* Additional styles to ensure user info is on the right */
.user-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align items to the start (left) */
}

.testimonials-container {
  position: relative;
}

.slider-arrow {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 60px; /* Adjust as needed */
  z-index: 1;
  cursor: pointer;
}

.slider-arrow.left {
  left: 0;
  background: linear-gradient(
    to right,
    rgba(245, 245, 247, 0.5) 0%,
    transparent 100%
  );
}

.slider-arrow.right {
  right: 0;
  background: linear-gradient(
    to left,
    rgba(245, 245, 247, 0.5) 0%,
    transparent 100%
  );
}

.slider-arrow.left:hover {
  background: linear-gradient(
    to right,
    rgba(207, 207, 207, 0.7) 0%,
    transparent 100%
  );
}

.slider-arrow.right:hover {
  background: linear-gradient(
    to left,
    rgba(207, 207, 207, 0.7) 0%,
    transparent 100%
  );
}

.slider-arrow.left:active {
  background: linear-gradient(
    to right,
    rgba(245, 245, 247, 0.9) 0%,
    transparent 100%
  );
}

.slider-arrow.right:active {
  background: linear-gradient(
    to left,
    rgba(245, 245, 247, 0.9) 0%,
    transparent 100%
  );
}

.slider-dots {
  display: flex;
  justify-content: center;
  margin-top: 20px; /* Adjust spacing as needed */
}

.dot {
  width: 10px;
  height: 10px;
  background-color: #bbb;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}

.dot.active {
  background-color: #333;
}

/* Define the animation */
@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(20px); /* Start slightly below and move up */
  }
  to {
    opacity: 1;
    transform: translateY(0); /* Move to original position */
  }
}

/* Apply animation to .animate class on mobile devices */
@media (max-width: 767px) {
  .animate {
    animation: slideIn 0.5s ease-out forwards;
  }
}

.skillsbox {
  height: 500px; /* Set the height of the skillsbox */
  border: 1px solid #ddd; /* Optional: Adds a border to the skillsbox */
  position: relative;
  overflow: hidden; /* Ensures the canvas does not overflow the container */
}
