*{
  margin: 0;
  padding: 0;
  /* font-family: GothamPro; */
  font-family: 'Gilroy';
}
@font-face {
font-family: 'Kantata Aksara';
src: url(Assests/Fonts/KantataAksara.ttf);
}

#main{
position: relative;
background-color: #FCFAF8;
width: 100vw;
height: 100vh;
overflow-x: hidden;
}
#loader{
  /* display: none; */
  z-index: 9999;
position: fixed;
width: 100vw;
height: 100vh;
background-color: #1A1A1A;

}
#loader>#topHeading{
position: absolute;
top: 5%;
left: 50%;
transform: translate(-50%, -50%);

}
#topHeading h5{
text-align: center;
text-transform: uppercase;
font-weight: 100;
font-size: 0.5em;
color: #FCFAF8;
}
#loader h1{
/* overflow-y: hidden; */
width: 100vw;
display: flex;
justify-content: center;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
/* text-transform: uppercase; */
font-size: 4vw;
font-weight: 500;
color: #FCFAF8;
}
.reveal .parent{
display: flex;
justify-content: center;
width: 100vw;
/* background-color: red; */
overflow-y: hidden;
}
.reveal .parent .child{
display: block;
/* transform: translateY(-80%); */
}
.parent .child span{
/* color: ; */
display: inline-block;
}
.reveal .parent .child span:nth-child(2){
font-family: 'Kantata Aksara';
color: #14CF93;
}
#green-screen{
/* display: none; */
width: 100vw;
position: absolute;
bottom: 0;
z-index: 999;
height: 0vh;
background-color: #14CF93;
}

#home{
/* width: 100vw; */
height: 150vh; 
/* overflow-x: hidden; */
background-color: #FCFAF8;

}
#home #nav{
display: flex;
align-items: center;
justify-content: space-between;
padding: 0 5vw;
/* width: 100vw; */
height: 15vh;
}
#nav a{
position: relative;
text-decoration: none;
text-transform: uppercase;
font-weight: 300;
font-size: 0.8em;
color: #1A1A1A;
}
#nav a .line{
position: absolute;
bottom: 0;
display: inline-block;
width: 100%;
height: 1px;
background-color: #1A1A1A;
}
#line1{
left: 0;
width: 0%;
transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
transition-delay: 0.2s;
}
#line2{
right: 0;
width: 100%;
transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
}
#nav a :hover #line2{
  width: 0%;
}
#nav a :hover #line1{
width: 100%;
}  

.row{
margin-top: 1vw;
display: flex;
align-items: center;
justify-content: space-between;
color: #333;
/* width: 100vw; */
padding: 0 7vw;
padding-right: 7vw;
}
.row h1{
font-size:12vw;
font-weight: 600;
}
.row .text{
/* margin-top: 0vw; */
text-transform: uppercase;

}
.row h5{
opacity: .4;
font-size: 0.8vw;
font-weight: 800;
}

.row:nth-child(2){
margin-top: 3vw;
}

.row svg{
/* color: #14CF93; */
height: 9vw;
margin: 0 4vw;
}
path , polyline{
stroke: #14CF93;
}

#imagery{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 17vw;
  width: 100%;
  padding: 7vw 7vw;
}
#imagery #imglef{
  width: 30%;
  height: auto;
}
#imglef h1{
  /* text-transform: uppercase; */
  letter-spacing: -1px;
  font-weight:500;
  font-size: 2vw;
  color: #333;
  /* margin-bottom: 10vw; */
}
#imglef h1 span{
  color: #14CF93;
  font-family: 'Kantata Aksara';
  font-weight: 100;
  font-style: italic;
}

#imgrig{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  width: 80%;
  /* background-color: yellow; */
  /* height: 300px; */

}
#imgrig .imgcntnr{
  position: absolute;
  width: 27vw;
  height: 40vw;
  z-index: 2;
  border-radius: 1vw;
  filter: grayscale();
  /* background-color: red; */
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
}
#imgrig .imgcntnr:hover{
  filter: grayscale(0);
  scale: 1.1;
}
#imgrig .imgcntnr:nth-child(1){
  transform: translate(-20%, -8%) rotate(-20deg);
  background-image: url(Assests/Images/mobile\ \(2\).png);
  background-size: cover;
  background-position: center;
}
#imgrig .imgcntnr:nth-child(2){
  transform: translate(0%, 0%) rotate(-15deg);
  background-image: url(Assests/Images/mobile\ \(1\).png);
  background-size: cover;
  background-position: center;
  
}
#imgrig .imgcntnr:nth-child(3){
  transform: translate(20%, 10%) rotate(-5deg);
  background-image: url(Assests/Images/mobile.png);
  background-size:contain;
  background-position: center;

}
#work{
  padding: 4vw;
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
  position: relative;
  height: 300vh;
  background-color: #F2F2F2;
}
#work::before{
  content: "";
  top: -75px;
  left: -10px;
  position: absolute;
  transform: rotate(-180deg);
  width: 100%;
  height: 150px;
  background: url(Assests/SVG/rip.f6d7c4dd.svg);
  background-size: cover;
  /* background-repeat: repeat; */
}
#about h4{
  margin-left: 10vw;
  opacity: 0.4;
  font-size: 1vw;
}
#about h4 span{
  color: #14CF93;
  font-family: 'Kantata Aksara';
}
#about h3{
  margin-top: 1vw;  
  margin-left: 10vw;
  margin-bottom: 10vw;
  font-size: 1em;
  font-weight: 600;
  color: #333;
}
#work .workrow{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0vw;
}
#about .o-ui-arrow{
  transform: rotate(0);
}
.workrow h1{ 
  font-size: 8vw;
  font-weight: 600;
}
.workrow h1 span{
  color: #14CF93;
  font-family: 'Kantata Aksara';
}
.o-ui-arrow{
  transform: rotate(90deg);

}
.o-ui-arrow path{
  stroke: #4f4f4f65;
}
#images{
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  /* height: 100vh; */
}
#imagesRow1{
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: baseline;
  justify-content: space-between;
  margin-top: 6vw;
  padding: 0 2vw;
}
#imagesRow2{
  display: flex;

  /* align-items: center; */
  justify-content:center;

  margin-top: 6vw;
  padding: 0 5vw;

}
.cnt{
  position: relative;
  overflow:hidden;
  border-radius:10%;
}
.cnt1{
  width: 55%;
}
.cnt2{
  width: 30%;
}
.cnt3{
  width: 50%;
}

.cnt img{
  transition: filter cubic-bezier(0.19, 1, 0.22, 1) 1.5s;
  width: 115%;
  /* height: 100%; */
  /* scale: 1.1; */
  border-radius: 10%;
}
#cursor{
  position:absolute;
  width: 0vw;
  top: 4%;
  left: -6%;
  z-index: 999;
}
#cursor>div{
  pointer-events: none;
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
  opacity: 0;
  position: absolute;
}
#elem{
  width: 100%;
  position: relative;
}
#cursor .crow{
  display: flex;
  align-items: center;
  gap: 20px;
  width: 100%;
  padding: .7vw;
}
.crow .ccircle{
  width: 2.5vw;
  height: 3vw;
  border:2px solid #fff;
  border-radius: 50%;
  /* background-color: #14CF93; */
}

.crow .ccapsule{
  padding: .7vw 3vw;
  border-radius: 100px;
  background-color: #fff;
}
#elem img{
  width: 100%;
  opacity: 0;
  animation: an 4s linear infinite;
  position: absolute;
}
#elem img:nth-child(2){
  animation-delay: 1s;
}
#elem img:nth-child(3){
  animation-delay: 2s;
}
#elem img:nth-child(4){
  animation-delay: 3s;
}
#elem img:nth-child(5){
  animation-delay: 4s;
}
@keyframes an{
  0%{
    opacity: 1;
  }
  20%{
    opacity: 1;
  }
  40%{
    opacity: 1;
  }
  60%{
    opacity: 0;
  }
  80%{
    opacity: 0;
  }
  100%{
    opacity: 0;
  }
}

#footer{
  padding: 0;
  height: 160vh;
  display: flex;
  position: relative;
  background-color: #253B39;
  /* overflow: hidden; */
  /* justify-content: center; */
  flex-direction: column;
}
#bigThing{
  padding-top: 13vw;
  display: flex;
  color: #fff;
  justify-content: center;
}
#bigThing h1{
  line-height: 6.3vw;
  font-size: 6vw;
  text-align: center;
  font-weight: 500;
}
.foot{
  padding: 0;
  width: 100%;
  position: absolute;
  /* transform: translate(0%, 50%) rotate(-90deg); */
  left: 0;
  scale: 1.1;
}
#con{
  z-index: 3;
  padding-top: 5vw;
  display: flex;
  justify-content: center;
}
#con button{
  background-color: transparent;
  border: 1px solid #fff;
  width: 30vw;
  padding: 3vw;
  border-radius: 60px;
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
  cursor: pointer;
  font-weight: 500;
  color: #fff;
  font-size: 2vw;
}
#con button:hover{
  background-color: rgb(255, 255, 255);
  color: #253B39;
}

.c-footer__socials {
  /* padding-bottom: 8vh; */
  position: relative;
  z-index: 5;

}
#socials{
padding-left:3vw;
padding-right: 3vw;
/* width: 50%; */
}
.c-footer__socials>div:first-child {
  display: flex;
  text-transform: none;
  margin: 18vh 0;
}

.c-footer__socials>#socials>div{
  opacity: 1;
  display: flex;
  flex-direction: row;
  width: 100%;
    /* align-items: flex-start; */
    justify-content: center;
  visibility: visible;
  /* display: flex; */
  transform: translate(0);
}

.c-footer__socials>div:first-child>div {
  width: 100%;
  opacity: 0;
  visibility: hidden;
  transform: translateY(60%);
  transition: .9s;
  transition-delay: calc(var(--order)*400ms)
}

.c-footer__socials>div:first-child>div a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  padding: 25px 0;
  border-top: 1px solid #fff;
  transition: .6s cubic-bezier(0,.89,.41,1);
  position: relative;
  overflow: hidden;
  width: 60%;
}

.c-footer__socials>div:first-child>div a:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(-101%);
  content: "";
  background-color: #14cf93;
  transition: .2s;
  z-index: -1;
}

.c-footer__socials>div:first-child>div a p {
  text-transform: none;
  color: #fff;
  /* width: 40%; */
}

.c-footer__socials>div:first-child>div a p:first-child {
  font-size: 24px;
  padding-bottom: 4px;
}

.c-footer__socials>div:first-child>div a p:last-child {
  font-size: 12px;
  padding-bottom: 4px;
  opacity: .6;
}

.c-footer__socials>div:first-child>div a:hover {
  padding: 25px 20px;
  border-top: 1px solid transparent;
}

.c-footer__socials>div:first-child>div a:hover:after {
  transform: translate(0);
}

.c-footer__socials a img {
  width: 44px;
}

.c-footer__copy {

  /* position: relative; */
  margin-top: 25px;
  font-size: 14px;
  color: hsla(0,0%,100%,.4);
  text-transform: capitalize
}

.c-footer__copy a,.c-footer__copy p {
  color: inherit;
  text-transform: inherit;
  font-size: inherit;
  /* position: absolute; */
  bottom: 1%;
}

.c-footer__copy div {
  margin-top: 10px
}

.c-footer-credit {
  text-decoration: underline;
  cursor: pointer
}

.c-footer-credit:active .c-credits {
  opacity: 1;
  transform: translate(0)
}





