*{
    margin: 0;
    padding: 0;
    /* font-family: GothamPro; */
    font-family: 'Gilroy';
}
@font-face {
  font-family: 'Kantata Aksara';
  src: url(KantataAksara.ttf);
}

#main{
  position: relative;
  background-color: #FCFAF8;
  width: 100vw;
  height: 100vh;
}
#loader{
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: #1A1A1A;
  
}
#loader>#topHeading{
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);

}
#topHeading h5{
  text-align: center;
  text-transform: uppercase;
  font-weight: 100;
  font-size: 0.5em;
  color: #FCFAF8;
}
#loader h1{
  /* overflow-y: hidden; */
  width: 100vw;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* text-transform: uppercase; */
  font-size: 4vw;
  font-weight: 500;
  color: #FCFAF8;
}
.reveal .parent{
  display: flex;
  justify-content: center;
  width: 100vw;
  /* background-color: red; */
  overflow-y: hidden;
}
.reveal .parent .child{
  display: block;
  /* transform: translateY(-80%); */
}
 .parent .child span{
  /* color: ; */
  display: inline-block;
}
.reveal .parent .child span:nth-child(2){
  font-family: 'Kantata Aksara';
 color: #14CF93;
}
#green-screen{
  width: 100vw;
  position: absolute;
  bottom: 0;
  /* height:0vh; */
  background-color: #14CF93;
}

#home{
 width: 100vw;
 height: 100vh;
 background-color: #FCFAF8;

}
